<div class="form">
  <div class="form-container">
    <h1>Create New Recipe</h1>

      <%= simple_form_for @recipe do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :ingredients %>
        <%= f.input :directions %>
        <%= f.input :meal_type, collection: Recipe::MEAL_TYPES %>
        <%= f.input :season, collection: Recipe::SEASONS %>
        <%= f.input :dietary_requirements, collection: Recipe::DIET %>
        <%= f.input :cuisine %>
        <%= f.input :prep_time, placeholder: "Time in minutes"  %>
        <%= f.input :total_time %>
        <%= f.input :dificulty, label: "Difficulty" %>
        <%= f.input :servings %>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
  </div>
</div>
