<h1><%= @recipe.title %></h1>

<%= link_to "edit", edit_recipe_path(@recipe) %>

<p><strong>Description:</strong> <%= @recipe.description %></p>
<p><strong>Ingredients:</strong> <%= @recipe.ingredients %></p>
<p><strong>Directions:</strong> <%= @recipe.directions %></p>
<p><strong>Meal type:</strong> <%= @recipe.meal_type %></p>
<p><strong>Season:</strong> <%= @recipe.season %></p>
<p><strong>Dietary Requirements:</strong> <%= @recipe.dietary_requirements %></p>
<p><strong>Cuisine:</strong> <%= @recipe.cuisine %></p>
<p><strong>Prep Time:</strong> <%= @recipe.prep_time %> minutes</p>
<p><strong>Total Time:</strong> <%= @recipe.total_time %> minutes</p>
<p><strong>Difficulty:</strong> <%= @recipe.difficulty %></p>
<p><strong>Servings:</strong> <%= @recipe.servings %></p>
<%= @recipe.user_id %>
