<div class="container">
  <div class="back-btn-container">
    <%= button_to "BACK" %>
  </div>
  <div class="show-container-flex">
    <div class="user-info-flex-container">
      <div class="avatar-large">
      </div>
      <div class="name-location-info-container">
        <h3><%= @user.nickname %></h3>
        <h5><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h5>
        <p><i class="fa-solid fa-location-dot"></i> <%= @user.address.capitalize %></p>
      </div>
      <div class="user-bio-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="outer-cards-flex">
      <div class="cards-flex">
        <div class="recipe-cards-container">
          <div class="feature-recipe-outer-flex">
            <div class="title">
              <h3>Featured Recipes by <%= @user.nickname.capitalize %></h3>
            </div>
            <div class="cards-flex-container">
              <p>dummy card 1</p>
              <p>dummy card 2</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-flex">
        <div class="recipe-cards-container">
          <div class="favorite-recipe-outer-flex">
            <div class="title">
              <h3>Favorite Recipes</h3>
            </div>
            <div class="cards-flex-container">
              <p>dummy card 1</p>
              <p>dummy card 2</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
